body {
  
  text-align:center;
}

h1 {
  font-family: Calibri;
  font-color: #f8f8ff;
  font-size: 50px;
  
  
}
h2 {
  color: #00008b; 
  font-size: 20px;
}
img {
  max-width: 100%;
  display:center;
  height: auto;
}
p{
  font-family: sans-serif;
background-color: grey;
}